<section class="m-5 p-5">
  <div class="container">
    <div class="row">
      <!-- heading -->
      <h1 class="color text-center mt-5 pt-3">PORTFOLIO</h1>
      <div
        class="starLine pb-4 d-flex justify-content-center align-items-center">
        <div class="line rounded"></div>
        <i class="fa-solid fa-star fs-2 px-3 color"></i>
        <div class="line rounded"></div>
      </div>
      <!-- portfolio items -->
      <div class="portfolio row g-4">
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-box rounded">
            <div class="layer d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-plus fs-mine text-white"></i>
            </div>
            <img src="../../assets/img/cabin.png" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-box rounded">
            <div class="layer d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-plus fs-mine text-white"></i>
            </div>
            <img src="../../assets/img/cake.png" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-box rounded">
            <div class="layer d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-plus fs-mine text-white"></i>
            </div>
            <img src="../../assets/img/circus.png" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-box rounded">
            <div class="layer d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-plus fs-mine text-white"></i>
            </div>
            <img src="../../assets/img/game.png" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-box rounded">
            <div class="layer d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-plus fs-mine text-white"></i>
            </div>
            <img src="../../assets/img/safe.png" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-box rounded">
            <div class="layer d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-plus fs-mine text-white"></i>
            </div>
            <img src="../../assets/img/submarine.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
